<!DOCTYPE html>
<html>
<head>
  <title>Inibon</title>
  <%= stylesheet_link_tag    "inibon/application", media: "all" %>
  <%= javascript_include_tag "inibon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
